@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  color-scheme: light dark;
}

html.dark {
  color-scheme: dark;
}

@layer base {
  button:not(:disabled) {
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }
}
